/*
╔═══════════════════════════════════════════════════════════════════════════════════════════════════╗
║ Update: 1150 - rev.3                                                                              ║
╚═══════════════════════════════════════════════════════════════════════════════════════════════════╝
*/
@import url(https://codeberg.org/ridge/Discord-Adblock/raw/branch/main/discord-adblock.css);
@layer UserTheme {
    /* SCROLLBAR & FONTS
       ============================================ */
    :root {
        --font-primary: system-ui, "gg sans" !important;
    }
    * {
        scrollbar-width: none;
        interpolate-size: allow-keywords;
    }
    /* LAYOUT ADJUSTMENTS
       ============================================ */
    @scope (#app-mount) {
        [class*="nowPlayingColumn" i] {
            max-inline-size: 360px !important;
            container-type: inline-size;
        }
    }
    /* GLOBAL HIDING
       ============================================ */
    :is(
        [class*="avatarDecoration" i],
        [class*="profileEffects" i],
        [src*="nameplate" i],
        [class*="clanTag" i],
        [class*="chipletContainer" i],
        [class*="nameplated" i] > [class*="container" i],
        [class*="circleIconButton" i][class*="discoveryIcon" i],
        [class*="listNode" i]:has([data-list-item-id*="guild-discover"])
    ) {
        display: none !important;
    }
    /* NAV LOGIC
       ============================================ */
    :is([class^="footer" i], [class*="listItem" i]):has(
        [data-list-item-id*="guild-discover"]
    ) {
        display: none !important;
    }
    /* ANIMATIONS
       ============================================ */
    [class*="layerContainer" i] [class*="layer" i],
    [class*="menu" i],
    [class*="tooltip" i] {
        will-change: transform, opacity;
        transition:
            opacity 0.1s cubic-bezier(0.2, 0, 0, 1),
            transform 0.1s cubic-bezier(0.2, 0, 0, 1);

        @starting-style {
            opacity: 0;
            transform: scale(0.95) translateY(5px);
        }
    }
    /* INTERACTIVE ELEMENTS
       ============================================ */
    :is(
        [class*="listItem" i]:has([data-list-item-id*="create-join"]),
        [class*="circleIconButton" i][aria-label*="Sunucu ekle" i],
        [class*="circleIconButton" i][aria-label*="Add Server" i]
    ) {
        opacity: 0.4;
        transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            opacity: 1;
        }
    }
}
