/*
╔════════════════════════════╗
║ Version: 1264 - Rebuild: 3 ║
╚════════════════════════════╝
*/
@layer UserTheme {
    /* SCROLLBAR & FONTS
       ============================================ */
    :root {
        --font-primary: system-ui, "gg sans" !important;
    }

    * {
        scrollbar-width: none;
        interpolate-size: allow-keywords;
    }

    /* LAYOUT ADJUSTMENTS
       ============================================ */
    @scope (#app-mount) {
        [class*="nowPlayingColumn" i] {
            max-inline-size: 360px !important;
            container-type: inline-size;
        }
    }

    /* GLOBAL HIDING
       ============================================ */
    :is(
        [class*="avatarDecoration" i],
        [class*="profileEffects" i],
        [src*="nameplate" i],
        [class*="clanTag" i],
        [class*="chipletContainer" i],
        [class*="nameplated" i] > [class*="container" i],
        [class*="circleIconButton" i][class*="discoveryIcon" i],
        [class*="listNode" i]:has([data-list-item-id*="guild-discover"])
    ) {
        display: none !important;
    }

    /* NAV LOGIC
       ============================================ */
    :is([class^="footer" i], [class*="listItem" i]):has(
        [data-list-item-id*="guild-discover"]
    ) {
        display: none !important;
    }

    /* ANIMATIONS
       ============================================ *
    [class*="layerContainer" i] [class*="layer" i],
    [class*="menu" i],
    [class*="tooltip" i] {
        will-change: opacity;
        transition:
            opacity 0.1s cubic-bezier(0.2, 0, 0, 1),
            transform 0.1s cubic-bezier(0.2, 0, 0, 1);

        @starting-style {
            opacity: 0;
            transform: scale(0.95) translateY(5px);
        }
    }

    /* INTERACTIVE ELEMENTS
       ============================================ */
    :is(
        [class*="listItem" i]:has([data-list-item-id*="create-join"]),
        [class*="circleIconButton" i][aria-label*="Sunucu ekle" i],
        [class*="circleIconButton" i][aria-label*="Add Server" i]
    ) {
        opacity: 0.4;
        transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            opacity: 1;
        }
    }
}

/*
╔╔╔════════════════════════════════════════════╗╗
║║║   ridge / Discord-Adblock                  ║║
║║║ https://codeberg.org/ridge/Discord-Adblock ║║
╚╚╚════════════════════════════════════════════╝╝
*/

/* Chat view blocks */
/* Seasonal Nitro nag (Winter 2025 and possibly future ones) */
/* Game server ad (TODO Ad not found while updating list)
div[id^="popout_"]:has(img[class$="-gameServerHostingImage"]) {
  display: none !important;
} */

/* You have X days left to try Nitro banner (January 2026) */
div[class^="notice"]:has(path[d^="M16.23 12c0 1.29-.95 2.25-2.22 2.25A2.18"]) {
  display: none;
}
	
/* Nitro, Shop, and Quests buttons */
ul[role="list"] {
    div:has([data-list-item-id$="__nitro"]),
    li:has([data-list-item-id$="__shop"]),
    div:has([data-list-item-id$="__quests"]) {
        display: none !important;
    }
}

/* Gift button */
div[class^="buttons__"]
    > div[class^="button__"]:not(
        div[class^="expression-picker-chat-input-button"]
    ):not(div[class$="app-launcher-entrypoint"]) {
    display: none !important;
}

/* Nitro upsell banner in emoji picker */
div[class^="emojiPicker_"] div[class^="upsellContainer__"] {
    display: none !important;
}

/* Super reaction button in emoji picker */
	#emoji-picker-tab-panel > div > div:has(#burst-reaction-toggle-button) {
	  display: none;
	}

/* Nitro nag in bottom left pop-out personal mini profile (TODO Ad not found while updating list)
div[class$="-inner"] > div[class$="-scrollerBase"] > div[class$="-username"] + aside[class$="-upsellContainer"] {
  display: none !important;
} */

/* Hide Nitro quality selectors and upsell (TODO Couldn't open devtools in official client)
div[class$=-footer] > div > div > div[class*="-pillContainer"] {
  display: none !important;
}
div[class$=-footer] > div[class$=-upsellRibbonContainer] {
  display: none !important;
} */

/* Upsell banner in soundboard */
div[class^="picker__"] div[class^="upsellContainer__"] {
    display: none !important;
}

/* Custom video background upsell */
div[class^="newBackgroundTooltipContainer__"]:has(
        div[class^="backgroundCustomInlineUpsellBackground__"]
    ) {
    display: none !important;
}

/* Promoted quests in "Now playing" sidebar TODO Look for a promo quest here
div[class$="-interactive"] > div > div[class$="-inset"]:has(img[src*="/quests/"])  {
  display: none !important;
} */

/* Nitro WARP+ ad in untrusted links modal TODO Spawn an untrusted link modal
div[class*="-linkCalloutContainer"] ~ div[class*="-container"]:has(div[class$="-ctaContainer"]) {
  display: none !important;
} */

/* Settings pages */
/* WARP+ Cloudflare sponsorship */
/* TODO Is this gone?
div[data-settings-sidebar-item="private_browsing_panel"] {
  display: none !important;
} */

/* Billing settings */
div[data-list-id="settings-sidebar"]
    ul:has(div[data-settings-sidebar-item="nitro_panel"]) {
    display: none !important;
}

/* Profile customisation banner ad */
div[class^="settingsPage_"]
    div[class^="container__"]:has(div[class^="artContainer__"]) {
    display: none !important;
}

/* Avatar picker GIF grid and upsell container */
div[class^="imageSelectionSection_"] {
    li:has(div[class^="gifGrid_"]),
    ~ div[class^="upsellContainer__"] {
        display: none !important;
    }
}

/* Avatar decoration, nameplate, and profile effect settings */
div[class^="profileCustomizationSection__"] div[class^="sectionsContainer_"] {
    div[class^="customizationSection_"]:nth-of-type(5),
    div[class^="customizationSection_"]:nth-of-type(6),
    div[class^="customizationSection_"]:nth-of-type(7) {
        display: none !important;
    }
}

/* Avatar decoration button in profile settings sidebar */
#user-settings-change-avatar-change-avatar-decoration {
    display: none !important;
}

/* Profile settings bottom upsell ("Try Nitro!" preview) */
div[class^="settingsPage_"] > div {
    div:has(div[class^="premiumFeatureBorder__"]),
    div[class^="upsellContainer__"] {
        display: none !important;
    }
}

/* Server profiles upsell */
div[class^="profileCustomizationSection__"]
    div[class^="upsellOverlayContainer__"] {
    display: none !important;
}

/* App colour */
div[role="radiogroup"] {
    div[class^="container_"]:has(
            img[src^="https://cdn.discordapp.com/assets/content/"]
        ),
    section:has(svg[class^="nitroWheel_"]),
    div[class^="colorThemesBackground"],
    + div[class^="divider__"] {
        display: none !important;
    }
}

/* Nitro app icons */
div[class^="selectionGroup__"]:has([class^="appIconSelectionContainer__"]) {
    display: none !important;
}

/* Entrance sounds picker */
div[data-debug-key="entrance_sounds_setting"] {
    display: none !important;
}

/* Guilds blocking */
/* Server boost button in popout menu */
#guild-header-popout
    > div
    > div
    > div[id="guild-header-popout-premium-subscribe"] {
    display: none !important;
}

/* Hide upsell banner for messages that are too long */
div[class^="characterCount__"] > div[class*="upsell__"] {
    display: none !important;
}

/* Hide upsell when trying to send a message over char. limit */
div[role="dialog"] {
    div[class^="gradientUpsellWrapper_"],
    div[class^="primaryActions__"] > button:has(svg[class^="premiumIcon_"]) {
        display: none !important;
    }
}

/* Boost goal bar */
div[class^="sidebarList__"]
    ul
    > div[class^="container__"]:has(div[class^="progressContainer__"]) {
    display: none !important;
}

/* Nitro Boosted guild icon */
div[class^="guildIconContainer__"]:has(svg[class^="boostedGuildIconGem__"]) {
    display: none !important;
}

/* User profile ads */
/* Profile badges */
div[class^="tags__"]
    > div:has(span[class^="userTagUsername__"])
    ~ div[class^="container__"] {
    display: none !important;
}

/* Store button in profile */
div[class^="profileButtons__"]
    > span:has(
        path[d^="M21 11.42V19a3 3 0 0 1-3 3h-2.75a.25.25 0 0 1-.25-.25V16a2"]
    ) {
    display: none !important;
}

/* User profiles wishlist (Web/vesktop only) */
div[class$="user-profile-sidebar"] div[class^="wishlistBreadcrumb__"] {
    display: none !important;
}

/* Custom emoji popout container upsell */
div[class^="emojiSection_"] {
    button[class^="shinyButton__"],
    > div > div > div[data-text-variant="text-sm/normal"],
    + div[class^="guildSection_"] {
        display: none !important;
    }
}

div[class^="reactionTooltip_"]
    > div:has(div[class^="reactionEmojiDetailsClickable_"]) {
    display: none !important;
}

/* Super reaction upsell */
div[class^="burstReactionTooltipPrompt_"] {
    display: none !important;
}

/* Nitro Boost upsell in role icons popout */
div[class^="popoutContainer__"]:has(div[class^="roleIconContainer__"]) button {
    display: none !important;
}
