/*-
╔═══════════════════════════════════════════════════════════════════════════════════════════════════╗
║ Update: 1121 - rev.3                                                                              ║
╚═══════════════════════════════════════════════════════════════════════════════════════════════════╝
*/

@import url(https://codeberg.org/ridge/Discord-Adblock/raw/branch/main/discord-adblock.css);

/* SCROLLBAR NONE
   ============================================ */

body ::-webkit-scrollbar {
    display: none !important;
}

/* NOW ACTIVE COLUMN
   ============================================ */
.nowPlayingColumn__133bf,
._133bf5eea8e33a34-nowPlayingColumn {
    max-width: 360px !important;
}

/* AVATAR & PROFILE DECORATIONS
   ============================================ */
img[class*="avatarDecoration"],
._44b0c28be7879b7b-avatarDecoration {
    display: none !important;
}

/* DISCOVER BUTTON NONE
   ============================================ */
div[class^="footer_"]:has(
        div[data-list-item-id="guildsnav___guild-discover-button"]
    ),
div[class^="itemsContainer_"]
    > div[class^="stack_"]
    > div[class^="listItem_"]:has(
        div[data-list-item-id="guildsnav___guild-discover-button"]
    ),
._650eb104245d257b-listItem:has(
    [data-list-item-id="guildsnav___guild-discover-button"]
),
._5bc7ed9d4097f6b5-circleIconButton.ef3116c2da186559-discoveryIcon {
    display: none !important;
}

/* ADD SERVER BUTTON
   ============================================ */
._650eb104245d257b-listItem:has(
    [data-list-item-id="guildsnav___create-join-button"]
),
._5bc7ed9d4097f6b5-circleIconButton[aria-label*="Sunucu ekle" i] {
    opacity: 0.3 !important;
    transition: opacity 0.2s ease !important;
}

._650eb104245d257b-listItem:has(
        [data-list-item-id="guildsnav___create-join-button"]
    ):hover,
._5bc7ed9d4097f6b5-circleIconButton[aria-label*="Sunucu ekle" i]:hover {
    opacity: 1 !important;
}

/* (Nameplates & Clan Tags)
   ============================================ */

._4bbc6dc06e75ad52-container,
div[class*="nameplated"] > div[class*="container"],
img[class*="_4bbc6dc06e75ad52-img"] {
    display: none !important;
}
[class*="clanTag"],
._972a0d22c8afa7f0-clanTag,
span[class*="chipletContainer"] {
    display: none !important;
}
